.git
.gitignore
.env.local
.env.*.local
.env.dev
.env.test
.DS_Store
vendor/
var/
public/assets/
public/bundles/
public/uploads/media/*
assets/vendor/
node_modules/
.phpunit.cache/
phpunit.xml
*.md
compose*.yaml
Dockerfile
.dockerignore
